<script>
import $ from 'vue-jquery'
export default {
  data () {
    return {
      happy: Object,
      fly: Object
    }
  },
  methods: {
    makeDogHappy() {
      this.happy.beginElement()
    }
  },
  mounted() {
    
    this.fly = document.getElementById("dog-fly")
    this.happy = document.getElementById("dog-happy")


    let dog = document.getElementById("dog")
    let block = document.getElementsByClassName("title")[0]
      dog.style.top = 0 + "px"
    dog.style.right = "15rem"

    let that = this
    window.addEventListener("scroll", function () {
      console.log("hashchange");
      let block = document.getElementById(window.history.state)
      let title = block.getElementsByClassName("title")[0]
      dog.style.top = block.offsetTop + "px"
      dog.style.right = "15rem"
      that.fly.beginElement()
    }, false)
  }
}
</script>
<style lang="sass">
#dog
  transition: top 4s 0s ease
  position: absolute
  width: 7.4rem
  height: 5rem
</style>

<template>
     <svg  @mouseenter="makeDogHappy"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      id="dog"
      preserveAspectRatio="xMidYMid meet"
      width="220.28043"
      height="130"
      viewBox="0 0 2002.8043 1500"
      version="1.0"
      stroke="none"
      stroke-opacity="0">
     <metadata
        id="metadata958">
       <rdf:RDF>
         <cc:Work
            rdf:about="">
           <dc:format>image/svg+xml</dc:format>
           <dc:type
              rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
           <dc:title></dc:title>
         </cc:Work>
       </rdf:RDF>
     </metadata>
     <defs
        id="defs956" />
     <path
        id="doganim"
        style="fill:#FFFFFF;stroke:none;stroke-width:1.66972387"
        d="m 674.30431,203.91788 c -15.0275,-25.04586 38.4037,-60.11006 60.1101,-38.40365 8.3486,8.34862 11.688,25.04586 6.6789,35.0642 -15.0276,21.70641 -55.1009,23.37614 -66.789,3.33945 z m 56.7706,-18.36696 c 0,-8.34862 -11.688,-11.68807 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.35779 -25.0459,16.69724 0,3.33945 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.69724 z m -250.4586,25.04586 c 0,-26.71558 91.8348,-91.83482 130.2385,-91.83482 40.0734,0 41.7431,50.09172 1.6697,83.4862 -48.422,40.07337 -131.9082,45.08254 -131.9082,8.34862 z m 108.5321,-18.36697 c 23.3761,-15.02751 36.7339,-33.39447 31.7247,-41.74309 -10.0183,-16.69724 -98.5137,23.37613 -115.2109,51.76144 -16.6972,26.71558 38.4036,20.03668 83.4862,-10.01835 z m 197.1269,149.88747 c 23.6447,14.36103 39.4507,43.5127 -1.9653,49.68411 -54.1869,-3.02525 -11.5725,-56.29349 1.9653,-49.68411 z m -240.2939,18.11961 c 17.5524,8.259 35.7857,50.53724 -3.7331,45.37518 -50.36,-4.84646 0.387,-48.07751 3.7331,-45.37518 z m 201.7908,142.56157 c 0,-8.34862 8.3486,-16.69724 16.6972,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3486,0 -16.6972,-6.67889 -16.6972,-16.69723 z m -183.6697,0 c 0,-8.34862 8.3486,-16.69724 16.6973,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3487,0 -16.6973,-6.67889 -16.6973,-16.69723 z m 125.2293,185.33933 c -6.6789,-20.0367 19.5253,-30.0642 -23.8876,-36.7431 -36.7339,-5.0092 -118.0389,-23.3669 -118.0389,-31.7156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -43.4128,-13.3578 -50.0917,-31.7248 z m 75.1376,-13.3578 c 0,-25.0458 -3.3395,-26.7156 -16.6972,-5.0091 -10.0184,16.6972 -16.6973,18.3669 -16.6973,5.0091 0,-11.688 -6.6789,-21.7064 -16.6972,-21.7064 -8.3486,0 -11.6881,11.6881 -6.6789,25.0459 13.3578,35.0642 56.7706,31.7247 56.7706,-3.3395 z m -58.4403,672.89881 c 35.0642,-13.3578 36.7339,-293.8715 1.6697,-293.8715 -16.6973,0 -21.7064,28.3854 -20.0367,116.8807 0,158.6238 -33.3945,207.0458 -155.2843,213.7247 -105.1926,6.6789 -126.8807,-80.8578 -54.5126,-92.7293 41.9397,-2.505 -9.2547,-268.3966 17.451,-365.72511 10.7419,-39.1486 -4.2341,-110.4552 -32.5189,-114.7518 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 C 272.43767,602.90699 270.86925,536.7968 262.47232,503.78488 245.77502,173.17954 478.94661,25.257429 804.54281,102.06472 c 161.9632,36.73393 285.52279,188.6788 303.88969,372.34843 8.3486,93.50454 5.0092,110.20174 -31.7247,165.30264 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 258.8072,-21.7064 285.5228,-203.70631 27.3794,-103.06787 -14.9396,-431.92275 137.9345,-242.17416 42.5021,164.05998 23.2391,384.42017 16.662,595.36977 -21.2104,145.79711 92.4674,329.30351 -46.0645,449.94161 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 77.7871,-66.0975 57.3574,-201.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 -32.0293,133.0528 -74.723,197.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 68.512,-102.1323 62.4716,-115.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.46889,-29.2248 -29.6445,14.562 -16.734,17.4909 -26.7523,142.7202 -11.6881,121.8898 -15.0275,131.9082 -61.7798,158.6237 -145.0464,55.9347 -266.0699,-19.9297 -171.9815,-61.7797 z m 170.3118,40.0733 c 26.7156,-16.6972 36.7339,-45.0825 43.4128,-126.899 5.0092,-56.7706 22.0986,-123.5687 18.7592,-155.2935 47.1301,-59.8898 396.26499,55.8434 540.99049,3.3395 52.6107,-19.4522 43.3163,-26.5658 43.3163,41.5516 0,37.4309 47.4143,68.2702 21.0116,125.3617 -7.7527,16.7641 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 139.8827,-144.7861 107.0584,-257.1374 -4.6657,-30.631 -25.4516,-107.94228 -26.1259,-193.09821 7.634,-193.8735 10.6494,-586.53455 0.5113,-581.38248 19.6164,-66.61252 -71.3815,-115.34848 -93.5982,-50.29512 -29.4138,140.06712 -1.5585,383.4906 -94.806,415.0071 -14.5836,4.9291 -120.1221,32.4111 -243.6816,35.7505 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.18869,26.2949 -137.03689,123.3246 -230.42159,160.5461 -153.6545,55.24343 -277.2201,-60.0915 -266.2251,175.31801 0,81.8165 13.9369,185.0791 -2.7603,230.1616 -80.1098,11.5762 -52.4959,92.8518 31.1456,67.0493 103.5229,-3.3395 138.5871,-58.4403 136.9173,-212.0549 6.0319,-106.351 17.9211,-103.5451 33.3945,-111.8715 33.3945,5.0091 36.7339,15.0275 41.7431,155.2843 3.3395,121.8898 0,153.6146 -21.7064,168.6421 -63.4495,46.7523 81.8165,68.4587 153.6146,23.3761 z m 482.55019,-75.1375 c 30.055,-46.7523 49.3942,-101.5907 56.7706,-120.2202 35,-88.3944 -0.9239,-51.8184 -54.2798,-54.6536 -16.3215,-0.8673 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 2.3055,26.06 -89.776,133.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z M 737.80881,788.01159 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.46784 -35.0642,-115.21094 -73.4678,-155.28431 -30.0551,-30.05503 -56.7706,-68.45868 -63.4495,-85.15592 -15.0275,-46.75227 -33.3945,-36.73393 -61.7798,36.73393 -23.3761,60.11006 -31.7248,66.78895 -83.4862,66.78895 -53.4312,0 -61.7798,-6.67889 -78.477,-58.44034 -10.0184,-31.72475 -26.7156,-58.44033 -35.0642,-58.44033 -20.0367,0 -131.9082,225.41272 -131.9082,267.15582 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.22776 43.4128,-295.54114 75.1376,-145.26597 84.5677,-155.03846 121.3016,-43.16696 15.0275,43.41282 28.3853,56.77061 60.1101,56.77061 33.3944,0 48.422,-15.02751 73.4678,-73.46785 40.0734,-95.17426 58.4404,-103.52288 83.4862,-43.41282 11.6881,28.38531 46.7523,78.47702 76.8073,111.8715 40.0734,45.08255 60.1101,83.48619 66.789,140.25676 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.40069,-26.3754 86.41559,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.28434 C 1066.6894,255.67932 931.44181,127.11058 701.01991,107.0739 c -93.5045,-8.34862 -125.2293,-3.33945 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.20178 -198.69707,212.05494 -107.63974,159.53798 91.15457,403.23105 127.21797,428.40795 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z">
      <animate
         id="dog-happy"
         attributeName="d" 
         dur="1s" 
         begin="indefinite"
         repeatCount="2"         
         values="
            m 674.30431,203.91788 c -15.0275,-25.04586 38.4037,-60.11006 60.1101,-38.40365 8.3486,8.34862 11.688,25.04586 6.6789,35.0642 -15.0276,21.70641 -55.1009,23.37614 -66.789,3.33945 z m 56.7706,-18.36696 c 0,-8.34862 -11.688,-11.68807 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.35779 -25.0459,16.69724 0,3.33945 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.69724 z m -250.4586,25.04586 c 0,-26.71558 91.8348,-91.83482 130.2385,-91.83482 40.0734,0 41.7431,50.09172 1.6697,83.4862 -48.422,40.07337 -131.9082,45.08254 -131.9082,8.34862 z m 108.5321,-18.36697 c 23.3761,-15.02751 36.7339,-33.39447 31.7247,-41.74309 -10.0183,-16.69724 -98.5137,23.37613 -115.2109,51.76144 -16.6972,26.71558 38.4036,20.03668 83.4862,-10.01835 z m 197.1269,149.88747 c 23.6447,14.36103 39.4507,43.5127 -1.9653,49.68411 -54.1869,-3.02525 -11.5725,-56.29349 1.9653,-49.68411 z m -240.2939,18.11961 c 17.5524,8.259 35.7857,50.53724 -3.7331,45.37518 -50.36,-4.84646 0.387,-48.07751 3.7331,-45.37518 z m 201.7908,142.56157 c 0,-8.34862 8.3486,-16.69724 16.6972,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3486,0 -16.6972,-6.67889 -16.6972,-16.69723 z m -183.6697,0 c 0,-8.34862 8.3486,-16.69724 16.6973,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3487,0 -16.6973,-6.67889 -16.6973,-16.69723 z m 125.2293,185.33933 c -6.6789,-20.0367 19.5253,-30.0642 -23.8876,-36.7431 -36.7339,-5.0092 -118.0389,-23.3669 -118.0389,-31.7156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -43.4128,-13.3578 -50.0917,-31.7248 z m 75.1376,-13.3578 c 0,-25.0458 -3.3395,-26.7156 -16.6972,-5.0091 -10.0184,16.6972 -16.6973,18.3669 -16.6973,5.0091 0,-11.688 -6.6789,-21.7064 -16.6972,-21.7064 -8.3486,0 -11.6881,11.6881 -6.6789,25.0459 13.3578,35.0642 56.7706,31.7247 56.7706,-3.3395 z m -58.4403,672.89881 c 35.0642,-13.3578 36.7339,-293.8715 1.6697,-293.8715 -16.6973,0 -21.7064,28.3854 -20.0367,116.8807 0,158.6238 -33.3945,207.0458 -155.2843,213.7247 -105.1926,6.6789 -126.8807,-80.8578 -54.5126,-92.7293 41.9397,-2.505 -9.2547,-268.3966 17.451,-365.72511 10.7419,-39.1486 -4.2341,-110.4552 -32.5189,-114.7518 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 C 272.43767,602.90699 270.86925,536.7968 262.47232,503.78488 245.77502,173.17954 478.94661,25.257429 804.54281,102.06472 c 161.9632,36.73393 285.52279,188.6788 303.88969,372.34843 8.3486,93.50454 5.0092,110.20174 -31.7247,165.30264 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 258.8072,-21.7064 285.5228,-203.70631 27.3794,-103.06787 -14.9396,-431.92275 137.9345,-242.17416 42.5021,164.05998 23.2391,384.42017 16.662,595.36977 -21.2104,145.79711 92.4674,329.30351 -46.0645,449.94161 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 77.7871,-66.0975 57.3574,-201.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 -32.0293,133.0528 -74.723,197.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 68.512,-102.1323 62.4716,-115.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.46889,-29.2248 -29.6445,14.562 -16.734,17.4909 -26.7523,142.7202 -11.6881,121.8898 -15.0275,131.9082 -61.7798,158.6237 -145.0464,55.9347 -266.0699,-19.9297 -171.9815,-61.7797 z m 170.3118,40.0733 c 26.7156,-16.6972 36.7339,-45.0825 43.4128,-126.899 5.0092,-56.7706 22.0986,-123.5687 18.7592,-155.2935 47.1301,-59.8898 396.26499,55.8434 540.99049,3.3395 52.6107,-19.4522 43.3163,-26.5658 43.3163,41.5516 0,37.4309 47.4143,68.2702 21.0116,125.3617 -7.7527,16.7641 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 139.8827,-144.7861 107.0584,-257.1374 -4.6657,-30.631 -25.4516,-107.94228 -26.1259,-193.09821 7.634,-193.8735 10.6494,-586.53455 0.5113,-581.38248 19.6164,-66.61252 -71.3815,-115.34848 -93.5982,-50.29512 -29.4138,140.06712 -1.5585,383.4906 -94.806,415.0071 -14.5836,4.9291 -120.1221,32.4111 -243.6816,35.7505 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.18869,26.2949 -137.03689,123.3246 -230.42159,160.5461 -153.6545,55.24343 -277.2201,-60.0915 -266.2251,175.31801 0,81.8165 13.9369,185.0791 -2.7603,230.1616 -80.1098,11.5762 -52.4959,92.8518 31.1456,67.0493 103.5229,-3.3395 138.5871,-58.4403 136.9173,-212.0549 6.0319,-106.351 17.9211,-103.5451 33.3945,-111.8715 33.3945,5.0091 36.7339,15.0275 41.7431,155.2843 3.3395,121.8898 0,153.6146 -21.7064,168.6421 -63.4495,46.7523 81.8165,68.4587 153.6146,23.3761 z m 482.55019,-75.1375 c 30.055,-46.7523 49.3942,-101.5907 56.7706,-120.2202 35,-88.3944 -0.9239,-51.8184 -54.2798,-54.6536 -16.3215,-0.8673 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 2.3055,26.06 -89.776,133.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z M 737.80881,788.01159 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.46784 -35.0642,-115.21094 -73.4678,-155.28431 -30.0551,-30.05503 -56.7706,-68.45868 -63.4495,-85.15592 -15.0275,-46.75227 -33.3945,-36.73393 -61.7798,36.73393 -23.3761,60.11006 -31.7248,66.78895 -83.4862,66.78895 -53.4312,0 -61.7798,-6.67889 -78.477,-58.44034 -10.0184,-31.72475 -26.7156,-58.44033 -35.0642,-58.44033 -20.0367,0 -131.9082,225.41272 -131.9082,267.15582 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.22776 43.4128,-295.54114 75.1376,-145.26597 84.5677,-155.03846 121.3016,-43.16696 15.0275,43.41282 28.3853,56.77061 60.1101,56.77061 33.3944,0 48.422,-15.02751 73.4678,-73.46785 40.0734,-95.17426 58.4404,-103.52288 83.4862,-43.41282 11.6881,28.38531 46.7523,78.47702 76.8073,111.8715 40.0734,45.08255 60.1101,83.48619 66.789,140.25676 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.40069,-26.3754 86.41559,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.28434 C 1066.6894,255.67932 931.44181,127.11058 701.01991,107.0739 c -93.5045,-8.34862 -125.2293,-3.33945 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.20178 -198.69707,212.05494 -107.63974,159.53798 91.15457,403.23105 127.21797,428.40795 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z;
            m 674.30431,203.91788 c -15.0275,-25.0459 38.4037,-60.1101 60.1101,-38.4036 8.3486,8.3486 11.688,25.0458 6.6789,35.0642 -15.0276,21.7064 -55.1009,23.3761 -66.789,3.3394 z m 56.7706,-18.367 c 0,-8.3486 -11.688,-11.688 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.3578 -25.0459,16.6973 0,3.3394 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.6973 z m -250.4586,25.0459 c 0,-26.7156 91.8348,-91.8348 130.2385,-91.8348 40.0734,0 41.7431,50.0917 1.6697,83.4862 -48.422,40.0734 -131.9082,45.0825 -131.9082,8.3486 z m 108.5321,-18.367 c 23.3761,-15.0275 36.7339,-33.3944 31.7247,-41.7431 -10.0183,-16.6972 -98.5137,23.3762 -115.2109,51.7615 -16.6972,26.7156 38.4036,20.0367 83.4862,-10.0184 z m 197.1269,149.8875 c 23.6447,14.361 39.4507,43.5127 -1.9653,49.6841 -54.1869,-3.0252 -11.5725,-56.2935 1.9653,-49.6841 z m -240.2939,18.1196 c 17.5524,8.259 35.7857,50.5373 -3.7331,45.3752 -50.36,-4.8465 0.387,-48.0775 3.7331,-45.3752 z m 201.7908,142.5616 c 0,-8.3486 8.3486,-16.6973 16.6972,-16.6973 10.0183,0 16.6972,8.3487 16.6972,16.6973 0,10.0183 -6.6789,16.6972 -16.6972,16.6972 -8.3486,0 -16.6972,-6.6789 -16.6972,-16.6972 z m -183.6697,0 c 0,-8.3486 8.3486,-16.6973 16.6973,-16.6973 10.0183,0 16.6972,8.3487 16.6972,16.6973 0,10.0183 -6.6789,16.6972 -16.6972,16.6972 -8.3487,0 -16.6973,-6.6789 -16.6973,-16.6972 z m 125.2293,185.3393 c -6.6789,-20.0367 19.5253,-30.0642 -23.8876,-36.7431 -36.7339,-5.0092 -118.0389,-23.3669 -118.0389,-31.7156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -43.4128,-13.3578 -50.0917,-31.7248 z m 75.1376,-13.3578 c 0,-25.0458 -3.3395,-26.7156 -16.6972,-5.0091 -10.0184,16.6972 -16.6973,18.3669 -16.6973,5.0091 0,-11.688 -6.6789,-21.7064 -16.6972,-21.7064 -8.3486,0 -11.6881,11.6881 -6.6789,25.0459 13.3578,35.0642 56.7706,31.7247 56.7706,-3.3395 z m -58.4403,672.8988 c 35.0642,-13.3578 36.7339,-293.8715 1.6697,-293.8715 -16.6973,0 -21.7064,28.3854 -20.0367,116.8807 0,158.6238 -33.3945,207.0458 -155.2843,213.7247 -105.1926,6.6789 -126.8807,-80.8578 -54.5126,-92.7293 41.9397,-2.505 -9.2547,-268.3966 17.451,-365.7251 10.7419,-39.1486 -4.2341,-110.4552 -32.5189,-114.7518 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 -51.7516,-78.1126 -53.3201,-144.2228 -61.717,-177.2347 -16.6973,-330.6053 216.4743,-478.5274 542.0705,-401.7202 161.9632,36.734 285.5228,188.6788 303.8897,372.3485 8.3486,93.5045 5.0092,110.2017 -31.7247,165.3026 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 328.1927,-38.8495 400.9378,-207.8046 53.0319,-92.5216 96.9472,-421.167 195.7197,-198.4139 -4.026,172.3513 -177.953,472.2417 -153.3417,579.5303 -19.1994,128.3254 89.2709,305.481 -49.261,426.1191 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 77.7871,-66.0975 57.3574,-201.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 -32.0293,133.0528 -74.723,197.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 68.512,-102.1323 62.4716,-115.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.4689,-29.2248 -29.6445,14.562 -16.734,17.4909 -26.7523,142.7202 -11.6881,121.8898 -15.0275,131.9082 -61.7798,158.6237 -145.0464,55.9347 -266.0699,-19.9297 -171.9815,-61.7797 z m 170.3118,40.0733 c 26.7156,-16.6972 36.7339,-45.0825 43.4128,-126.899 5.0092,-56.7706 22.0986,-123.5687 18.7592,-155.2935 47.1301,-59.8898 396.265,55.8434 540.9905,3.3395 52.6107,-19.4522 43.3163,-26.5658 43.3163,41.5516 0,37.4309 47.4143,68.2702 21.0116,125.3617 -7.7527,16.7641 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 139.8827,-144.7861 107.0584,-257.1374 -4.6657,-30.631 -25.4516,-107.9423 -26.1259,-193.0982 7.634,-193.8735 169.4644,-547.7783 158.3403,-545.415 36.1306,-59.301 -39.2219,-129.8546 -77.4627,-72.7306 -64.5387,127.7448 -100.398,370.1185 -198.6191,376.523 -15.3614,1.0017 -190.2738,57.3632 -313.8333,60.7026 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.1887,26.2949 -137.0369,123.3246 -230.4216,160.5461 -153.6545,55.2434 -277.2201,-60.0915 -266.2251,175.318 0,81.8165 13.9369,185.0791 -2.7603,230.1616 -80.1098,11.5762 -52.4959,92.8518 31.1456,67.0493 103.5229,-3.3395 138.5871,-58.4403 136.9173,-212.0549 6.0319,-106.351 17.9211,-103.5451 33.3945,-111.8715 33.3945,5.0091 36.7339,15.0275 41.7431,155.2843 3.3395,121.8898 0,153.6146 -21.7064,168.6421 -63.4495,46.7523 81.8165,68.4587 153.6146,23.3761 z m 482.5502,-75.1375 c 30.055,-46.7523 49.3942,-101.5907 56.7706,-120.2202 35,-88.3944 -0.924,-51.8184 -54.2798,-54.6536 -16.3215,-0.867 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 2.3055,26.06 -89.776,133.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z m -621.0823,-524.603 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.4678 -35.0642,-115.2109 -73.4678,-155.2843 -30.0551,-30.055 -56.7706,-68.4587 -63.4495,-85.1559 -15.0275,-46.7523 -33.3945,-36.7339 -61.7798,36.7339 -23.3761,60.1101 -31.7248,66.789 -83.4862,66.789 -53.4312,0 -61.7798,-6.6789 -78.477,-58.4404 -10.0184,-31.7247 -26.7156,-58.4403 -35.0642,-58.4403 -20.0367,0 -131.9082,225.4127 -131.9082,267.1558 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.2277 43.4128,-295.5411 75.1376,-145.266 84.5677,-155.0385 121.3016,-43.167 15.0275,43.4128 28.3853,56.7706 60.1101,56.7706 33.3944,0 48.422,-15.0275 73.4678,-73.4678 40.0734,-95.1743 58.4404,-103.5229 83.4862,-43.4128 11.6881,28.3853 46.7523,78.477 76.8073,111.8715 40.0734,45.0825 60.1101,83.4861 66.789,140.2567 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.4007,-26.3754 86.4156,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.2843 -23.3762,-225.4128 -158.6238,-353.9815 -389.0457,-374.0182 -93.5045,-8.3486 -125.2293,-3.3394 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.2018 -198.6971,212.055 -107.6397,159.5379 91.1546,403.231 127.218,428.4079 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z;
            m 674.30431,203.91788 c -15.0275,-25.04586 38.4037,-60.11006 60.1101,-38.40365 8.3486,8.34862 11.688,25.04586 6.6789,35.0642 -15.0276,21.70641 -55.1009,23.37614 -66.789,3.33945 z m 56.7706,-18.36696 c 0,-8.34862 -11.688,-11.68807 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.35779 -25.0459,16.69724 0,3.33945 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.69724 z m -250.4586,25.04586 c 0,-26.71558 91.8348,-91.83482 130.2385,-91.83482 40.0734,0 41.7431,50.09172 1.6697,83.4862 -48.422,40.07337 -131.9082,45.08254 -131.9082,8.34862 z m 108.5321,-18.36697 c 23.3761,-15.02751 36.7339,-33.39447 31.7247,-41.74309 -10.0183,-16.69724 -98.5137,23.37613 -115.2109,51.76144 -16.6972,26.71558 38.4036,20.03668 83.4862,-10.01835 z m 197.1269,149.88747 c 23.6447,14.36103 39.4507,43.5127 -1.9653,49.68411 -54.1869,-3.02525 -11.5725,-56.29349 1.9653,-49.68411 z m -240.2939,18.11961 c 17.5524,8.259 35.7857,50.53724 -3.7331,45.37518 -50.36,-4.84646 0.387,-48.07751 3.7331,-45.37518 z m 201.7908,142.56157 c 0,-8.34862 8.3486,-16.69724 16.6972,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3486,0 -16.6972,-6.67889 -16.6972,-16.69723 z m -183.6697,0 c 0,-8.34862 8.3486,-16.69724 16.6973,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3487,0 -16.6973,-6.67889 -16.6973,-16.69723 z m 125.2293,185.33933 c -6.6789,-20.0367 19.5253,-30.0642 -23.8876,-36.7431 -36.7339,-5.0092 -118.0389,-23.3669 -118.0389,-31.7156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -43.4128,-13.3578 -50.0917,-31.7248 z m 75.1376,-13.3578 c 0,-25.0458 -3.3395,-26.7156 -16.6972,-5.0091 -10.0184,16.6972 -16.6973,18.3669 -16.6973,5.0091 0,-11.688 -6.6789,-21.7064 -16.6972,-21.7064 -8.3486,0 -11.6881,11.6881 -6.6789,25.0459 13.3578,35.0642 56.7706,31.7247 56.7706,-3.3395 z m -58.4403,672.89881 c 35.0642,-13.3578 36.7339,-293.8715 1.6697,-293.8715 -16.6973,0 -21.7064,28.3854 -20.0367,116.8807 0,158.6238 -33.3945,207.0458 -155.2843,213.7247 -105.1926,6.6789 -126.8807,-80.8578 -54.5126,-92.7293 41.9397,-2.505 -9.2547,-268.3966 17.451,-365.72511 10.7419,-39.1486 -4.2341,-110.4552 -32.5189,-114.7518 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 C 272.43767,602.90699 270.86925,536.7968 262.47232,503.78488 245.77502,173.17954 478.94661,25.257429 804.54281,102.06472 c 161.9632,36.73393 285.52279,188.6788 303.88969,372.34843 8.3486,93.50454 5.0092,110.20174 -31.7247,165.30264 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 258.8072,-21.7064 285.5228,-203.70631 27.3794,-103.06787 -14.9396,-431.92275 137.9345,-242.17416 42.5021,164.05998 23.2391,384.42017 16.662,595.36977 -21.2104,145.79711 92.4674,329.30351 -46.0645,449.94161 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 77.7871,-66.0975 57.3574,-201.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 -32.0293,133.0528 -74.723,197.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 68.512,-102.1323 62.4716,-115.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.46889,-29.2248 -29.6445,14.562 -16.734,17.4909 -26.7523,142.7202 -11.6881,121.8898 -15.0275,131.9082 -61.7798,158.6237 -145.0464,55.9347 -266.0699,-19.9297 -171.9815,-61.7797 z m 170.3118,40.0733 c 26.7156,-16.6972 36.7339,-45.0825 43.4128,-126.899 5.0092,-56.7706 22.0986,-123.5687 18.7592,-155.2935 47.1301,-59.8898 396.26499,55.8434 540.99049,3.3395 52.6107,-19.4522 43.3163,-26.5658 43.3163,41.5516 0,37.4309 47.4143,68.2702 21.0116,125.3617 -7.7527,16.7641 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 139.8827,-144.7861 107.0584,-257.1374 -4.6657,-30.631 -25.4516,-107.94228 -26.1259,-193.09821 7.634,-193.8735 10.6494,-586.53455 0.5113,-581.38248 19.6164,-66.61252 -71.3815,-115.34848 -93.5982,-50.29512 -29.4138,140.06712 -1.5585,383.4906 -94.806,415.0071 -14.5836,4.9291 -120.1221,32.4111 -243.6816,35.7505 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.18869,26.2949 -137.03689,123.3246 -230.42159,160.5461 -153.6545,55.24343 -277.2201,-60.0915 -266.2251,175.31801 0,81.8165 13.9369,185.0791 -2.7603,230.1616 -80.1098,11.5762 -52.4959,92.8518 31.1456,67.0493 103.5229,-3.3395 138.5871,-58.4403 136.9173,-212.0549 6.0319,-106.351 17.9211,-103.5451 33.3945,-111.8715 33.3945,5.0091 36.7339,15.0275 41.7431,155.2843 3.3395,121.8898 0,153.6146 -21.7064,168.6421 -63.4495,46.7523 81.8165,68.4587 153.6146,23.3761 z m 482.55019,-75.1375 c 30.055,-46.7523 49.3942,-101.5907 56.7706,-120.2202 35,-88.3944 -0.9239,-51.8184 -54.2798,-54.6536 -16.3215,-0.8673 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 2.3055,26.06 -89.776,133.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z M 737.80881,788.01159 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.46784 -35.0642,-115.21094 -73.4678,-155.28431 -30.0551,-30.05503 -56.7706,-68.45868 -63.4495,-85.15592 -15.0275,-46.75227 -33.3945,-36.73393 -61.7798,36.73393 -23.3761,60.11006 -31.7248,66.78895 -83.4862,66.78895 -53.4312,0 -61.7798,-6.67889 -78.477,-58.44034 -10.0184,-31.72475 -26.7156,-58.44033 -35.0642,-58.44033 -20.0367,0 -131.9082,225.41272 -131.9082,267.15582 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.22776 43.4128,-295.54114 75.1376,-145.26597 84.5677,-155.03846 121.3016,-43.16696 15.0275,43.41282 28.3853,56.77061 60.1101,56.77061 33.3944,0 48.422,-15.02751 73.4678,-73.46785 40.0734,-95.17426 58.4404,-103.52288 83.4862,-43.41282 11.6881,28.38531 46.7523,78.47702 76.8073,111.8715 40.0734,45.08255 60.1101,83.48619 66.789,140.25676 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.40069,-26.3754 86.41559,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.28434 C 1066.6894,255.67932 931.44181,127.11058 701.01991,107.0739 c -93.5045,-8.34862 -125.2293,-3.33945 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.20178 -198.69707,212.05494 -107.63974,159.53798 91.15457,403.23105 127.21797,428.40795 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z;
            m 674.30431,203.91788 c -15.0275,-25.0459 38.4037,-60.1101 60.1101,-38.4036 8.3486,8.3486 11.688,25.0458 6.6789,35.0642 -15.0276,21.7064 -55.1009,23.3761 -66.789,3.3394 z m 56.7706,-18.367 c 0,-8.3486 -11.688,-11.688 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.3578 -25.0459,16.6973 0,3.3394 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.6973 z m -250.4586,25.0459 c 0,-26.7156 91.8348,-91.8348 130.2385,-91.8348 40.0734,0 41.7431,50.0917 1.6697,83.4862 -48.422,40.0734 -131.9082,45.0825 -131.9082,8.3486 z m 108.5321,-18.367 c 23.3761,-15.0275 36.7339,-33.3944 31.7247,-41.7431 -10.0183,-16.6972 -98.5137,23.3762 -115.2109,51.7615 -16.6972,26.7156 38.4036,20.0367 83.4862,-10.0184 z m 197.1269,149.8875 c 23.6447,14.361 39.4507,43.5127 -1.9653,49.6841 -54.1869,-3.0252 -11.5725,-56.2935 1.9653,-49.6841 z m -240.2939,18.1196 c 17.5524,8.259 35.7857,50.5373 -3.7331,45.3752 -50.36,-4.8465 0.387,-48.0775 3.7331,-45.3752 z m 201.7908,142.5616 c 0,-8.3486 8.3486,-16.6973 16.6972,-16.6973 10.0183,0 16.6972,8.3487 16.6972,16.6973 0,10.0183 -6.6789,16.6972 -16.6972,16.6972 -8.3486,0 -16.6972,-6.6789 -16.6972,-16.6972 z m -183.6697,0 c 0,-8.3486 8.3486,-16.6973 16.6973,-16.6973 10.0183,0 16.6972,8.3487 16.6972,16.6973 0,10.0183 -6.6789,16.6972 -16.6972,16.6972 -8.3487,0 -16.6973,-6.6789 -16.6973,-16.6972 z m 125.2293,185.3393 c -6.6789,-20.0367 19.5253,-30.0642 -23.8876,-36.7431 -36.7339,-5.0092 -118.0389,-23.3669 -118.0389,-31.7156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -43.4128,-13.3578 -50.0917,-31.7248 z m 75.1376,-13.3578 c 0,-25.0458 -3.3395,-26.7156 -16.6972,-5.0091 -10.0184,16.6972 -16.6973,18.3669 -16.6973,5.0091 0,-11.688 -6.6789,-21.7064 -16.6972,-21.7064 -8.3486,0 -11.6881,11.6881 -6.6789,25.0459 13.3578,35.0642 56.7706,31.7247 56.7706,-3.3395 z m -58.4403,672.8988 c 35.0642,-13.3578 36.7339,-293.8715 1.6697,-293.8715 -16.6973,0 -21.7064,28.3854 -20.0367,116.8807 0,158.6238 -33.3945,207.0458 -155.2843,213.7247 -105.1926,6.6789 -126.8807,-80.8578 -54.5126,-92.7293 41.9397,-2.505 -9.2547,-268.3966 17.451,-365.7251 10.7419,-39.1486 -4.2341,-110.4552 -32.5189,-114.7518 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 -51.7516,-78.1126 -53.3201,-144.2228 -61.717,-177.2347 -16.6973,-330.6053 216.4743,-478.5274 542.0705,-401.7202 161.9632,36.734 285.5228,188.6788 303.8897,372.3485 8.3486,93.5045 5.0092,110.2017 -31.7247,165.3026 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 269.3144,37.1614 229.269,-142.377 -11.2358,-106.049 -168.2107,-398.1025 42.3481,-275.4649 87.9261,140.3647 145.1258,363.0379 168.5022,567.3312 -21.2104,145.7971 92.4674,329.3035 -46.0645,449.9416 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 77.7871,-66.0975 57.3574,-201.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 -32.0293,133.0528 -74.723,197.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 68.512,-102.1323 62.4716,-115.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.4689,-29.2248 -29.6445,14.562 -16.734,17.4909 -26.7523,142.7202 -11.6881,121.8898 -15.0275,131.9082 -61.7798,158.6237 -145.0464,55.9347 -266.0699,-19.9297 -171.9815,-61.7797 z m 170.3118,40.0733 c 26.7156,-16.6972 36.7339,-45.0825 43.4128,-126.899 5.0092,-56.7706 22.0986,-123.5687 18.7592,-155.2935 47.1301,-59.8898 396.265,55.8434 540.9905,3.3395 52.6107,-19.4522 43.3163,-26.5658 43.3163,41.5516 0,37.4309 47.4143,68.2702 21.0116,125.3617 -7.7527,16.7641 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 139.8827,-144.7861 107.0584,-257.1374 -4.6657,-30.631 -25.4516,-107.9423 -26.1259,-193.0982 7.634,-193.8735 -121.69,-563.4778 -129.3198,-555.0448 -5.4671,-69.2253 -107.8693,-82.2482 -105.3878,-13.5507 22.5494,141.3347 131.9681,325.169 56.1259,387.9093 -11.8615,9.8124 -129.4336,-3.5732 -252.9931,-0.2338 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.1887,26.2949 -137.0369,123.3246 -230.4216,160.5461 -153.6545,55.2434 -277.2201,-60.0915 -266.2251,175.318 0,81.8165 13.9369,185.0791 -2.7603,230.1616 -80.1098,11.5762 -52.4959,92.8518 31.1456,67.0493 103.5229,-3.3395 138.5871,-58.4403 136.9173,-212.0549 6.0319,-106.351 17.9211,-103.5451 33.3945,-111.8715 33.3945,5.0091 36.7339,15.0275 41.7431,155.2843 3.3395,121.8898 0,153.6146 -21.7064,168.6421 -63.4495,46.7523 81.8165,68.4587 153.6146,23.3761 z m 482.5502,-75.1375 c 30.055,-46.7523 49.3942,-101.5907 56.7706,-120.2202 35,-88.3944 -0.924,-51.8184 -54.2798,-54.6536 -16.3215,-0.867 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 2.3055,26.06 -89.776,133.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z m -621.0823,-524.603 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.4678 -35.0642,-115.2109 -73.4678,-155.2843 -30.0551,-30.055 -56.7706,-68.4587 -63.4495,-85.1559 -15.0275,-46.7523 -33.3945,-36.7339 -61.7798,36.7339 -23.3761,60.1101 -31.7248,66.789 -83.4862,66.789 -53.4312,0 -61.7798,-6.6789 -78.477,-58.4404 -10.0184,-31.7247 -26.7156,-58.4403 -35.0642,-58.4403 -20.0367,0 -131.9082,225.4127 -131.9082,267.1558 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.2277 43.4128,-295.5411 75.1376,-145.266 84.5677,-155.0385 121.3016,-43.167 15.0275,43.4128 28.3853,56.7706 60.1101,56.7706 33.3944,0 48.422,-15.0275 73.4678,-73.4678 40.0734,-95.1743 58.4404,-103.5229 83.4862,-43.4128 11.6881,28.3853 46.7523,78.477 76.8073,111.8715 40.0734,45.0825 60.1101,83.4861 66.789,140.2567 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.4007,-26.3754 86.4156,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.2843 -23.3762,-225.4128 -158.6238,-353.9815 -389.0457,-374.0182 -93.5045,-8.3486 -125.2293,-3.3394 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.2018 -198.6971,212.055 -107.6397,159.5379 91.1546,403.231 127.218,428.4079 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z;
            m 674.30431,203.91788 c -15.0275,-25.04586 38.4037,-60.11006 60.1101,-38.40365 8.3486,8.34862 11.688,25.04586 6.6789,35.0642 -15.0276,21.70641 -55.1009,23.37614 -66.789,3.33945 z m 56.7706,-18.36696 c 0,-8.34862 -11.688,-11.68807 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.35779 -25.0459,16.69724 0,3.33945 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.69724 z m -250.4586,25.04586 c 0,-26.71558 91.8348,-91.83482 130.2385,-91.83482 40.0734,0 41.7431,50.09172 1.6697,83.4862 -48.422,40.07337 -131.9082,45.08254 -131.9082,8.34862 z m 108.5321,-18.36697 c 23.3761,-15.02751 36.7339,-33.39447 31.7247,-41.74309 -10.0183,-16.69724 -98.5137,23.37613 -115.2109,51.76144 -16.6972,26.71558 38.4036,20.03668 83.4862,-10.01835 z m 197.1269,149.88747 c 23.6447,14.36103 39.4507,43.5127 -1.9653,49.68411 -54.1869,-3.02525 -11.5725,-56.29349 1.9653,-49.68411 z m -240.2939,18.11961 c 17.5524,8.259 35.7857,50.53724 -3.7331,45.37518 -50.36,-4.84646 0.387,-48.07751 3.7331,-45.37518 z m 201.7908,142.56157 c 0,-8.34862 8.3486,-16.69724 16.6972,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3486,0 -16.6972,-6.67889 -16.6972,-16.69723 z m -183.6697,0 c 0,-8.34862 8.3486,-16.69724 16.6973,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3487,0 -16.6973,-6.67889 -16.6973,-16.69723 z m 125.2293,185.33933 c -6.6789,-20.0367 19.5253,-30.0642 -23.8876,-36.7431 -36.7339,-5.0092 -118.0389,-23.3669 -118.0389,-31.7156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -43.4128,-13.3578 -50.0917,-31.7248 z m 75.1376,-13.3578 c 0,-25.0458 -3.3395,-26.7156 -16.6972,-5.0091 -10.0184,16.6972 -16.6973,18.3669 -16.6973,5.0091 0,-11.688 -6.6789,-21.7064 -16.6972,-21.7064 -8.3486,0 -11.6881,11.6881 -6.6789,25.0459 13.3578,35.0642 56.7706,31.7247 56.7706,-3.3395 z m -58.4403,672.89881 c 35.0642,-13.3578 36.7339,-293.8715 1.6697,-293.8715 -16.6973,0 -21.7064,28.3854 -20.0367,116.8807 0,158.6238 -33.3945,207.0458 -155.2843,213.7247 -105.1926,6.6789 -126.8807,-80.8578 -54.5126,-92.7293 41.9397,-2.505 -9.2547,-268.3966 17.451,-365.72511 10.7419,-39.1486 -4.2341,-110.4552 -32.5189,-114.7518 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 C 272.43767,602.90699 270.86925,536.7968 262.47232,503.78488 245.77502,173.17954 478.94661,25.257429 804.54281,102.06472 c 161.9632,36.73393 285.52279,188.6788 303.88969,372.34843 8.3486,93.50454 5.0092,110.20174 -31.7247,165.30264 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 258.8072,-21.7064 285.5228,-203.70631 27.3794,-103.06787 -14.9396,-431.92275 137.9345,-242.17416 42.5021,164.05998 23.2391,384.42017 16.662,595.36977 -21.2104,145.79711 92.4674,329.30351 -46.0645,449.94161 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 77.7871,-66.0975 57.3574,-201.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 -32.0293,133.0528 -74.723,197.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 68.512,-102.1323 62.4716,-115.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.46889,-29.2248 -29.6445,14.562 -16.734,17.4909 -26.7523,142.7202 -11.6881,121.8898 -15.0275,131.9082 -61.7798,158.6237 -145.0464,55.9347 -266.0699,-19.9297 -171.9815,-61.7797 z m 170.3118,40.0733 c 26.7156,-16.6972 36.7339,-45.0825 43.4128,-126.899 5.0092,-56.7706 22.0986,-123.5687 18.7592,-155.2935 47.1301,-59.8898 396.26499,55.8434 540.99049,3.3395 52.6107,-19.4522 43.3163,-26.5658 43.3163,41.5516 0,37.4309 47.4143,68.2702 21.0116,125.3617 -7.7527,16.7641 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 139.8827,-144.7861 107.0584,-257.1374 -4.6657,-30.631 -25.4516,-107.94228 -26.1259,-193.09821 7.634,-193.8735 10.6494,-586.53455 0.5113,-581.38248 19.6164,-66.61252 -71.3815,-115.34848 -93.5982,-50.29512 -29.4138,140.06712 -1.5585,383.4906 -94.806,415.0071 -14.5836,4.9291 -120.1221,32.4111 -243.6816,35.7505 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.18869,26.2949 -137.03689,123.3246 -230.42159,160.5461 -153.6545,55.24343 -277.2201,-60.0915 -266.2251,175.31801 0,81.8165 13.9369,185.0791 -2.7603,230.1616 -80.1098,11.5762 -52.4959,92.8518 31.1456,67.0493 103.5229,-3.3395 138.5871,-58.4403 136.9173,-212.0549 6.0319,-106.351 17.9211,-103.5451 33.3945,-111.8715 33.3945,5.0091 36.7339,15.0275 41.7431,155.2843 3.3395,121.8898 0,153.6146 -21.7064,168.6421 -63.4495,46.7523 81.8165,68.4587 153.6146,23.3761 z m 482.55019,-75.1375 c 30.055,-46.7523 49.3942,-101.5907 56.7706,-120.2202 35,-88.3944 -0.9239,-51.8184 -54.2798,-54.6536 -16.3215,-0.8673 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 2.3055,26.06 -89.776,133.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z M 737.80881,788.01159 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.46784 -35.0642,-115.21094 -73.4678,-155.28431 -30.0551,-30.05503 -56.7706,-68.45868 -63.4495,-85.15592 -15.0275,-46.75227 -33.3945,-36.73393 -61.7798,36.73393 -23.3761,60.11006 -31.7248,66.78895 -83.4862,66.78895 -53.4312,0 -61.7798,-6.67889 -78.477,-58.44034 -10.0184,-31.72475 -26.7156,-58.44033 -35.0642,-58.44033 -20.0367,0 -131.9082,225.41272 -131.9082,267.15582 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.22776 43.4128,-295.54114 75.1376,-145.26597 84.5677,-155.03846 121.3016,-43.16696 15.0275,43.41282 28.3853,56.77061 60.1101,56.77061 33.3944,0 48.422,-15.02751 73.4678,-73.46785 40.0734,-95.17426 58.4404,-103.52288 83.4862,-43.41282 11.6881,28.38531 46.7523,78.47702 76.8073,111.8715 40.0734,45.08255 60.1101,83.48619 66.789,140.25676 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.40069,-26.3754 86.41559,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.28434 C 1066.6894,255.67932 931.44181,127.11058 701.01991,107.0739 c -93.5045,-8.34862 -125.2293,-3.33945 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.20178 -198.69707,212.05494 -107.63974,159.53798 91.15457,403.23105 127.21797,428.40795 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z;"
      />
      <animate
      id="dog-fly"
      attributeName="d" 
      dur="3s"
      begin="indefinite"
      repeatCount="1"  
      keyTimes="0; 0.15; 0.4; 0.9; 1"       
      values="
         m 674.30431,203.91788 c -15.0275,-25.04586 38.4037,-60.11006 60.1101,-38.40365 8.3486,8.34862 11.688,25.04586 6.6789,35.0642 -15.0276,21.70641 -55.1009,23.37614 -66.789,3.33945 z m 56.7706,-18.36696 c 0,-8.34862 -11.688,-11.68807 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.35779 -25.0459,16.69724 0,3.33945 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.69724 z m -250.4586,25.04586 c 0,-26.71558 91.8348,-91.83482 130.2385,-91.83482 40.0734,0 41.7431,50.09172 1.6697,83.4862 -48.422,40.07337 -131.9082,45.08254 -131.9082,8.34862 z m 108.5321,-18.36697 c 23.3761,-15.02751 36.7339,-33.39447 31.7247,-41.74309 -10.0183,-16.69724 -98.5137,23.37613 -115.2109,51.76144 -16.6972,26.71558 38.4036,20.03668 83.4862,-10.01835 z m 197.1269,149.88747 c 23.6447,14.36103 39.4507,43.5127 -1.9653,49.68411 -54.1869,-3.02525 -11.5725,-56.29349 1.9653,-49.68411 z m -240.2939,18.11961 c 17.5524,8.259 35.7857,50.53724 -3.7331,45.37518 -50.36,-4.84646 0.387,-48.07751 3.7331,-45.37518 z m 201.7908,142.56157 c 0,-8.34862 8.3486,-16.69724 16.6972,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3486,0 -16.6972,-6.67889 -16.6972,-16.69723 z m -183.6697,0 c 0,-8.34862 8.3486,-16.69724 16.6973,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3487,0 -16.6973,-6.67889 -16.6973,-16.69723 z m 125.2293,185.33933 c -6.6789,-20.0367 19.5253,-30.0642 -23.8876,-36.7431 -36.7339,-5.0092 -118.0389,-23.3669 -118.0389,-31.7156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -43.4128,-13.3578 -50.0917,-31.7248 z m 75.1376,-13.3578 c 0,-25.0458 -3.3395,-26.7156 -16.6972,-5.0091 -10.0184,16.6972 -16.6973,18.3669 -16.6973,5.0091 0,-11.688 -6.6789,-21.7064 -16.6972,-21.7064 -8.3486,0 -11.6881,11.6881 -6.6789,25.0459 13.3578,35.0642 56.7706,31.7247 56.7706,-3.3395 z m -58.4403,672.89881 c 35.0642,-13.3578 36.7339,-293.8715 1.6697,-293.8715 -16.6973,0 -21.7064,28.3854 -20.0367,116.8807 0,158.6238 -33.3945,207.0458 -155.2843,213.7247 -105.1926,6.6789 -126.8807,-80.8578 -54.5126,-92.7293 41.9397,-2.505 -9.2547,-268.3966 17.451,-365.72511 10.7419,-39.1486 -4.2341,-110.4552 -32.5189,-114.7518 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 C 272.43767,602.90699 270.86925,536.7968 262.47232,503.78488 245.77502,173.17954 478.94661,25.257429 804.54281,102.06472 c 161.9632,36.73393 285.52279,188.6788 303.88969,372.34843 8.3486,93.50454 5.0092,110.20174 -31.7247,165.30264 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 258.8072,-21.7064 285.5228,-203.70631 27.3794,-103.06787 -14.9396,-431.92275 137.9345,-242.17416 42.5021,164.05998 23.2391,384.42017 16.662,595.36977 -21.2104,145.79711 92.4674,329.30351 -46.0645,449.94161 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 77.7871,-66.0975 57.3574,-201.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 -32.0293,133.0528 -74.723,197.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 68.512,-102.1323 62.4716,-115.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.46889,-29.2248 -29.6445,14.562 -16.734,17.4909 -26.7523,142.7202 -11.6881,121.8898 -15.0275,131.9082 -61.7798,158.6237 -145.0464,55.9347 -266.0699,-19.9297 -171.9815,-61.7797 z m 170.3118,40.0733 c 26.7156,-16.6972 36.7339,-45.0825 43.4128,-126.899 5.0092,-56.7706 22.0986,-123.5687 18.7592,-155.2935 47.1301,-59.8898 396.26499,55.8434 540.99049,3.3395 52.6107,-19.4522 43.3163,-26.5658 43.3163,41.5516 0,37.4309 47.4143,68.2702 21.0116,125.3617 -7.7527,16.7641 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 139.8827,-144.7861 107.0584,-257.1374 -4.6657,-30.631 -25.4516,-107.94228 -26.1259,-193.09821 7.634,-193.8735 10.6494,-586.53455 0.5113,-581.38248 19.6164,-66.61252 -71.3815,-115.34848 -93.5982,-50.29512 -29.4138,140.06712 -1.5585,383.4906 -94.806,415.0071 -14.5836,4.9291 -120.1221,32.4111 -243.6816,35.7505 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.18869,26.2949 -137.03689,123.3246 -230.42159,160.5461 -153.6545,55.24343 -277.2201,-60.0915 -266.2251,175.31801 0,81.8165 13.9369,185.0791 -2.7603,230.1616 -80.1098,11.5762 -52.4959,92.8518 31.1456,67.0493 103.5229,-3.3395 138.5871,-58.4403 136.9173,-212.0549 6.0319,-106.351 17.9211,-103.5451 33.3945,-111.8715 33.3945,5.0091 36.7339,15.0275 41.7431,155.2843 3.3395,121.8898 0,153.6146 -21.7064,168.6421 -63.4495,46.7523 81.8165,68.4587 153.6146,23.3761 z m 482.55019,-75.1375 c 30.055,-46.7523 49.3942,-101.5907 56.7706,-120.2202 35,-88.3944 -0.9239,-51.8184 -54.2798,-54.6536 -16.3215,-0.8673 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 2.3055,26.06 -89.776,133.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z M 737.80881,788.01159 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.46784 -35.0642,-115.21094 -73.4678,-155.28431 -30.0551,-30.05503 -56.7706,-68.45868 -63.4495,-85.15592 -15.0275,-46.75227 -33.3945,-36.73393 -61.7798,36.73393 -23.3761,60.11006 -31.7248,66.78895 -83.4862,66.78895 -53.4312,0 -61.7798,-6.67889 -78.477,-58.44034 -10.0184,-31.72475 -26.7156,-58.44033 -35.0642,-58.44033 -20.0367,0 -131.9082,225.41272 -131.9082,267.15582 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.22776 43.4128,-295.54114 75.1376,-145.26597 84.5677,-155.03846 121.3016,-43.16696 15.0275,43.41282 28.3853,56.77061 60.1101,56.77061 33.3944,0 48.422,-15.02751 73.4678,-73.46785 40.0734,-95.17426 58.4404,-103.52288 83.4862,-43.41282 11.6881,28.38531 46.7523,78.47702 76.8073,111.8715 40.0734,45.08255 60.1101,83.48619 66.789,140.25676 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.40069,-26.3754 86.41559,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.28434 C 1066.6894,255.67932 931.44181,127.11058 701.01991,107.0739 c -93.5045,-8.34862 -125.2293,-3.33945 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.20178 -198.69707,212.05494 -107.63974,159.53798 91.15457,403.23105 127.21797,428.40795 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z;
         m 674.30431,203.91788 c -15.0275,-25.0459 38.4037,-60.1101 60.1101,-38.4037 8.3486,8.3486 11.688,25.0459 6.6789,35.0642 -15.0276,21.7064 -55.1009,23.3762 -66.789,3.3395 z m 56.7706,-18.367 c 0,-8.3486 -11.688,-11.6881 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.3578 -25.0459,16.6973 0,3.3394 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.6973 z m -233.8948,-84.2575 c 19.1736,-18.6037 129.8593,1.9585 156.6022,29.5204 27.9057,28.7603 -6.8819,64.8407 -58.7544,59.3352 -62.4795,-6.8464 -124.2113,-63.2753 -97.8478,-88.8556 z m 88.7596,65.1023 c 27.0634,6.3121 49.5471,3.1088 52.0505,-6.2999 5.007,-18.8174 -85.3781,-54.424 -117.3773,-46.6408 -30.8007,6.6203 12.3628,41.5146 65.3268,52.9407 z m 20.3356,135.7216 c 23.6447,14.361 39.4507,43.5127 -1.9653,49.6841 -54.1869,-3.0253 -11.5725,-56.2935 1.9653,-49.6841 z m -240.2939,18.1196 c 17.5524,8.259 35.7857,50.5372 -3.7331,45.3752 -50.36,-4.8465 0.387,-48.0775 3.7331,-45.3752 z m 181.7908,142.5616 c 0,-17.2992 19.398,-36.6973 36.6972,-36.6973 17.2992,0 36.6972,19.3981 36.6972,36.6973 0,17.2992 -19.398,36.6972 -36.6972,36.6972 -17.2992,0 -36.6972,-19.398 -36.6972,-36.6972 z m -183.6697,0 c 0,-17.2993 19.398,-36.6973 36.6973,-36.6973 17.2992,0 36.6972,19.3981 36.6972,36.6973 0,17.2992 -19.398,36.6972 -36.6972,36.6972 -17.2992,0 -36.6973,-19.398 -36.6973,-36.6972 z m 99.9168,194.4018 c -12.876,-14.9483 -27.0372,-27.5642 -23.5751,-53.3056 -36.7339,-5.0092 -73.0389,-15.8669 -73.0389,-24.2156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -82.6493,-7.8546 -95.4042,-22.6623 z m 120.4501,-22.4203 c 1.25,-21.2958 3.848,-17.3406 -18.2597,-26.2591 -9.3934,-4.2403 -18.9653,-3.1794 -32.0098,-0.3034 -12.1875,2.687 -28.8664,3.2936 -38.8847,3.2936 -8.3486,0 -29.1881,12.0006 -24.1789,25.3584 13.3578,35.0642 111.2785,32.9145 113.3331,-2.0895 z m -274.102,576.1517 c 33.3471,17.2018 252.3956,-197.1244 217.3314,-197.1244 -16.6973,0 -213.915,62.4326 -297.7674,90.7693 -151.2063,47.9394 -207.4565,30.7406 -250.6606,-83.4309 -38.158,-98.2551 38.7307,-145.3844 71.9182,-79.9882 15.0629,39.2215 253.0489,-89.9369 353.8972,-93.8946 40.5643,-1.592 -94.0041,-71.7598 -122.2889,-76.0564 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 -51.7517,-78.1126 -53.3201,-144.2228 -61.717,-177.2347 -16.6973,-330.6054 216.4743,-478.5275 542.0705,-401.7202 161.9632,36.7339 285.5228,188.6788 303.8897,372.3484 8.3486,93.5046 5.0092,110.2018 -31.7247,165.3027 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 334.542,-12.6865 271.4435,-185.4762 -24.9585,-103.6807 -218.6506,-372.79 6.0931,-278.6344 115.4431,124.0765 169.1598,402.6503 162.5827,613.5999 -26.9594,151.972 77.514,286.846 -26.0645,369.9416 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 57.7871,13.9025 37.3574,-121.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 7.9707,73.0528 -34.723,137.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 28.512,-42.1323 22.4716,-55.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.4689,-29.2248 -29.6445,14.562 -148.1034,176.1919 -248.058,252.2959 -98.5817,72.6319 -108.2716,76.8301 -159.3669,59.8367 -138.449,-70.7037 -162.705,-211.4649 -68.7504,-169.3155 z m 83.8029,153.5873 c 30.2633,8.7554 58.0895,-2.7246 123.4824,-52.3464 45.6247,-34.1522 244.1996,-214.8882 240.8602,-246.613 47.1301,-59.8898 396.265,55.8434 540.9905,3.3395 52.6107,-19.4522 53.3163,-42.8158 53.3163,25.3016 10.625,36.1809 -11.3357,15.1452 31.0116,61.6117 12.4411,13.6513 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 119.8827,-64.7861 87.0584,-177.1374 -4.6657,-30.631 -25.4516,-107.9423 -26.1259,-193.0982 7.634,-193.8735 -109.4129,-613.2038 -115.8787,-603.8484 -14.4409,-67.9227 -117.667,-67.4913 -106.2551,0.2973 40.7736,137.1914 127.4881,355.3641 34.2406,386.8806 -14.5836,4.9291 -120.1221,32.4111 -243.6816,35.7505 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.1887,26.2949 -137.0369,123.3246 -230.4216,160.5461 -153.6545,55.2434 -96.0344,-35.2648 -317.1128,46.3616 -77.9906,24.7267 -172.2124,69.2199 -220.233,66.9284 -35.2457,-72.8652 -104.3752,-21.9794 -54.5011,49.9528 34.4701,97.6727 97.5914,114.4447 243.518,66.4275 103.2008,-26.3917 293.2703,-104.3665 305.8838,-92.1331 5.3176,33.3467 2.5076,51.4327 -98.6114,148.7569 -88.5537,83.8243 -114.4105,102.5071 -140.0875,96.3682 -77.1604,-16.0586 3.6089,106.6186 85.0968,130.0094 z m 824.7208,-151.9044 c 30.055,-46.7523 9.3942,-41.5907 16.7706,-60.2202 35,-88.3944 -0.924,-51.8184 -54.2798,-54.6536 -16.3215,-0.867 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 42.3055,-33.94 -49.776,73.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z m -661.0823,-464.603 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.4679 -35.0642,-115.211 -73.4678,-155.2843 -30.0551,-30.0551 -56.7706,-68.4587 -63.4495,-85.1559 -15.0275,-46.7523 -33.3945,-36.734 -61.7798,36.7339 -23.3761,60.11 -31.7248,66.7889 -83.4862,66.7889 -53.4312,0 -61.7798,-6.6789 -78.477,-58.4403 -10.0184,-31.7248 -26.7156,-58.4403 -35.0642,-58.4403 -20.0367,0 -131.9082,225.4127 -131.9082,267.1558 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.2278 43.4128,-295.5412 75.1376,-145.2659 84.5677,-155.0384 121.3016,-43.1669 15.0275,43.4128 28.3853,56.7706 60.1101,56.7706 33.3944,0 48.422,-15.0275 73.4678,-73.4679 40.0734,-95.1742 58.4404,-103.5228 83.4862,-43.4128 11.6881,28.3853 46.7523,78.477 76.8073,111.8715 40.0734,45.0826 60.1101,83.4862 66.789,140.2568 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.4007,-26.3754 86.4156,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.2844 -23.3762,-225.4127 -158.6238,-353.9814 -389.0457,-374.0181 -93.5045,-8.3486 -125.2293,-3.3395 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.2018 -198.6971,212.0549 -107.6398,159.538 91.1546,403.2311 127.218,428.408 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z;
         m 674.30431,203.91788 c -15.0275,-25.0459 38.4037,-60.1101 60.1101,-38.4037 8.3486,8.3486 11.688,25.0459 6.6789,35.0642 -15.0276,21.7064 -55.1009,23.3762 -66.789,3.3395 z m 56.7706,-18.367 c 0,-8.3486 -11.688,-11.6881 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.3578 -25.0459,16.6973 0,3.3394 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.6973 z m -233.8948,-124.2575 c 19.1736,-18.6037 129.8593,1.9585 156.6022,29.5204 27.9057,28.7603 -6.8819,64.8407 -58.7544,59.3352 -62.4795,-6.8464 -124.2113,-63.2753 -97.8478,-88.8556 z m 88.7596,65.1023 c 27.0634,6.3121 49.5471,3.1088 52.0505,-6.2999 5.007,-18.8174 -85.3781,-54.424 -117.3773,-46.6408 -30.8007,6.6203 12.3628,41.5146 65.3268,52.9407 z m -59.6644,115.7216 c 23.6447,14.361 39.4507,43.5127 -1.9653,49.6841 -54.1869,-3.0253 -11.5725,-56.2935 1.9653,-49.6841 z m -240.2939,18.1196 c 17.5524,8.259 35.7857,50.5372 -3.7331,45.3752 -50.36,-4.8465 0.387,-48.0775 3.7331,-45.3752 z m 181.7908,142.5616 c -1.2809,-13.6458 25.8291,-10.5549 39.5097,-11.3848 17.3163,-1.0504 51.4001,-9.0883 51.3847,8.2598 -0.014,15.5501 -30.5301,6.8228 -46.0722,7.3222 -14.9984,0.4819 -43.4198,10.7432 -44.8222,-4.1972 z m -199.9197,-2.5 c -0.015,-15.1505 29.6184,-8.2245 44.7649,-7.8715 19.5965,0.4568 58.5923,-6.6928 57.3796,12.8715 -0.9751,15.7314 -31.3128,5.1652 -47.0633,4.5725 -18.6224,-0.7007 -55.0627,9.0631 -55.0812,-9.5725 z m 116.1668,196.9018 c -12.876,-14.9483 -27.0372,-27.5642 -23.5751,-53.3056 -36.7339,-5.0092 -73.0389,-15.8669 -73.0389,-24.2156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -82.6493,-7.8546 -95.4042,-22.6623 z m 120.4501,-22.4203 c 1.25,-21.2958 3.848,-17.3406 -18.2597,-26.2591 -9.3934,-4.2403 -18.9653,-3.1794 -32.0098,-0.3034 -12.1875,2.687 -28.8664,3.2936 -38.8847,3.2936 -8.3486,0 -29.1881,12.0006 -24.1789,25.3584 13.3578,35.0642 111.2785,32.9145 113.3331,-2.0895 z m -274.102,576.1516 c 33.3471,17.2018 252.3956,-197.1243 217.3314,-197.1243 -16.6973,0 -213.915,62.4325 -297.7674,90.7692 -151.2063,47.9394 -207.4565,30.7406 -250.6606,-83.4308 -38.158,-98.2551 38.7307,-145.3844 71.9182,-79.9882 15.0629,39.2215 253.0489,-89.9369 353.8972,-93.8946 40.5643,-1.592 -94.0041,-71.7598 -122.2889,-76.0564 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 -51.7517,-78.1126 -53.3201,-144.2228 -61.717,-177.2347 -16.6973,-330.6054 216.4743,-478.5275 542.0705,-401.7202 161.9632,36.7339 285.5228,188.6788 303.8897,372.3484 8.3486,93.5046 5.0092,110.2018 -31.7247,165.3027 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 334.542,-12.6865 271.4435,-185.4762 -24.9585,-103.6807 -218.6506,-372.79 6.0931,-278.6344 115.4431,124.0765 169.1598,402.6503 162.5827,613.5999 -26.9594,151.972 77.514,286.8459 -26.0645,369.9415 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 57.7871,13.9025 37.3574,-121.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 7.9707,73.0528 -34.723,137.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 28.512,-42.1323 22.4716,-55.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.4689,-29.2248 -29.6445,14.562 -148.1034,176.1919 -248.058,252.2959 -98.5817,72.6319 -108.2716,76.8301 -159.3669,59.8367 -138.449,-70.7037 -162.705,-211.4649 -68.7504,-169.3155 z m 83.8029,153.5873 c 30.2633,8.7554 58.0895,-2.7246 123.4824,-52.3464 45.6247,-34.1522 244.1996,-214.8882 240.8602,-246.613 47.1301,-59.8897 396.265,55.8434 540.9905,3.3395 52.6107,-19.4522 53.3163,-42.8157 53.3163,25.3016 10.625,36.1809 -11.3357,15.1452 31.0116,61.6117 12.4411,13.6513 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 119.8827,-64.7861 87.0584,-177.1374 -4.6657,-30.6309 -25.4516,-107.9422 -26.1259,-193.0981 7.634,-193.8735 -109.4129,-613.2038 -115.8787,-603.8484 -14.4409,-67.9227 -117.667,-67.4913 -106.2551,0.2973 40.7736,137.1914 127.4881,355.3641 34.2406,386.8806 -14.5836,4.9291 -120.1221,32.4111 -243.6816,35.7505 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.1887,26.2949 -137.0369,123.3246 -230.4216,160.5461 -153.6545,55.2434 -96.0344,-35.2648 -317.1128,46.3616 -77.9906,24.7267 -172.2124,69.2199 -220.233,66.9284 -35.2457,-72.8652 -104.3752,-21.9794 -54.5011,49.9528 34.4701,97.6726 97.5914,114.4446 243.518,66.4274 103.2008,-26.3917 293.2703,-104.3664 305.8838,-92.133 5.3176,33.3467 2.5076,51.4327 -98.6114,148.7568 -88.5537,83.8243 -114.4105,102.5071 -140.0875,96.3682 -77.1604,-16.0586 3.6089,106.6186 85.0968,130.0094 z m 824.7208,-151.9044 c 30.055,-46.7523 9.3942,-41.5907 16.7706,-60.2202 35,-88.3944 -0.924,-51.8184 -54.2798,-54.6536 -16.3215,-0.867 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 42.3055,-33.94 -49.776,73.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z m -661.0823,-464.6029 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.4679 -35.0642,-115.211 -73.4678,-155.2843 -30.0551,-30.0551 -56.7706,-68.4587 -63.4495,-85.1559 -15.0275,-46.7523 -33.3945,-36.734 -61.7798,36.7339 -23.3761,60.11 -31.7248,66.7889 -83.4862,66.7889 -53.4312,0 -61.7798,-6.6789 -78.477,-58.4403 -10.0184,-31.7248 -26.7156,-58.4403 -35.0642,-58.4403 -20.0367,0 -131.9082,225.4127 -131.9082,267.1558 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.2278 43.4128,-295.5412 75.1376,-145.2659 84.5677,-155.0384 121.3016,-43.1669 15.0275,43.4128 28.3853,56.7706 60.1101,56.7706 33.3944,0 48.422,-15.0275 73.4678,-73.4679 40.0734,-95.1742 58.4404,-103.5228 83.4862,-43.4128 11.6881,28.3853 46.7523,78.477 76.8073,111.8715 40.0734,45.0826 60.1101,83.4862 66.789,140.2568 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.4007,-26.3754 86.4156,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.2844 -23.3762,-225.4127 -158.6238,-353.9814 -389.0457,-374.0181 -93.5045,-8.3486 -125.2293,-3.3395 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.2018 -198.6971,212.0549 -107.6398,159.538 91.1546,403.2311 127.218,428.408 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z;
         m 674.30431,203.91788 c -15.0275,-25.0459 38.4037,-60.1101 60.1101,-38.4037 8.3486,8.3486 11.688,25.0459 6.6789,35.0642 -15.0276,21.7064 -55.1009,23.3762 -66.789,3.3395 z m 56.7706,-18.367 c 0,-8.3486 -11.688,-11.6881 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.3578 -25.0459,16.6973 0,3.3394 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.6973 z m -233.8948,-84.2575 c 19.1736,-18.6037 129.8593,1.9585 156.6022,29.5204 27.9057,28.7603 -6.8819,64.8407 -58.7544,59.3352 -62.4795,-6.8464 -124.2113,-63.2753 -97.8478,-88.8556 z m 88.7596,65.1023 c 27.0634,6.3121 49.5471,3.1088 52.0505,-6.2999 5.007,-18.8174 -85.3781,-54.424 -117.3773,-46.6408 -30.8007,6.6203 12.3628,41.5146 65.3268,52.9407 z m 20.3356,135.7216 c 23.6447,14.361 39.4507,43.5127 -1.9653,49.6841 -54.1869,-3.0253 -11.5725,-56.2935 1.9653,-49.6841 z m -240.2939,18.1196 c 17.5524,8.259 35.7857,50.5372 -3.7331,45.3752 -50.36,-4.8465 0.387,-48.0775 3.7331,-45.3752 z m 181.7908,142.5616 c 0,-17.2992 19.398,-36.6973 36.6972,-36.6973 17.2992,0 36.6972,19.3981 36.6972,36.6973 0,17.2992 -19.398,36.6972 -36.6972,36.6972 -17.2992,0 -36.6972,-19.398 -36.6972,-36.6972 z m -183.6697,0 c 0,-17.2993 19.398,-36.6973 36.6973,-36.6973 17.2992,0 36.6972,19.3981 36.6972,36.6973 0,17.2992 -19.398,36.6972 -36.6972,36.6972 -17.2992,0 -36.6973,-19.398 -36.6973,-36.6972 z m 99.9168,194.4018 c -12.876,-14.9483 -27.0372,-27.5642 -23.5751,-53.3056 -36.7339,-5.0092 -73.0389,-15.8669 -73.0389,-24.2156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -82.6493,-7.8546 -95.4042,-22.6623 z m 120.4501,-22.4203 c 1.25,-21.2958 3.848,-17.3406 -18.2597,-26.2591 -9.3934,-4.2403 -18.9653,-3.1794 -32.0098,-0.3034 -12.1875,2.687 -28.8664,3.2936 -38.8847,3.2936 -8.3486,0 -29.1881,12.0006 -24.1789,25.3584 13.3578,35.0642 111.2785,32.9145 113.3331,-2.0895 z m -274.102,576.1517 c 33.3471,17.2018 252.3956,-197.1244 217.3314,-197.1244 -16.6973,0 -213.915,62.4326 -297.7674,90.7693 -151.2063,47.9394 -207.4565,30.7406 -250.6606,-83.4309 -38.158,-98.2551 38.7307,-145.3844 71.9182,-79.9882 15.0629,39.2215 253.0489,-89.9369 353.8972,-93.8946 40.5643,-1.592 -94.0041,-71.7598 -122.2889,-76.0564 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 -51.7517,-78.1126 -53.3201,-144.2228 -61.717,-177.2347 -16.6973,-330.6054 216.4743,-478.5275 542.0705,-401.7202 161.9632,36.7339 285.5228,188.6788 303.8897,372.3484 8.3486,93.5046 5.0092,110.2018 -31.7247,165.3027 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 334.542,-12.6865 271.4435,-185.4762 -24.9585,-103.6807 -218.6506,-372.79 6.0931,-278.6344 115.4431,124.0765 169.1598,402.6503 162.5827,613.5999 -26.9594,151.972 77.514,286.846 -26.0645,369.9416 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 57.7871,13.9025 37.3574,-121.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 7.9707,73.0528 -34.723,137.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 28.512,-42.1323 22.4716,-55.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.4689,-29.2248 -29.6445,14.562 -148.1034,176.1919 -248.058,252.2959 -98.5817,72.6319 -108.2716,76.8301 -159.3669,59.8367 -138.449,-70.7037 -162.705,-211.4649 -68.7504,-169.3155 z m 83.8029,153.5873 c 30.2633,8.7554 58.0895,-2.7246 123.4824,-52.3464 45.6247,-34.1522 244.1996,-214.8882 240.8602,-246.613 47.1301,-59.8898 396.265,55.8434 540.9905,3.3395 52.6107,-19.4522 53.3163,-42.8158 53.3163,25.3016 10.625,36.1809 -11.3357,15.1452 31.0116,61.6117 12.4411,13.6513 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 119.8827,-64.7861 87.0584,-177.1374 -4.6657,-30.631 -25.4516,-107.9423 -26.1259,-193.0982 7.634,-193.8735 -109.4129,-613.2038 -115.8787,-603.8484 -14.4409,-67.9227 -117.667,-67.4913 -106.2551,0.2973 40.7736,137.1914 127.4881,355.3641 34.2406,386.8806 -14.5836,4.9291 -120.1221,32.4111 -243.6816,35.7505 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.1887,26.2949 -137.0369,123.3246 -230.4216,160.5461 -153.6545,55.2434 -96.0344,-35.2648 -317.1128,46.3616 -77.9906,24.7267 -172.2124,69.2199 -220.233,66.9284 -35.2457,-72.8652 -104.3752,-21.9794 -54.5011,49.9528 34.4701,97.6727 97.5914,114.4447 243.518,66.4275 103.2008,-26.3917 293.2703,-104.3665 305.8838,-92.1331 5.3176,33.3467 2.5076,51.4327 -98.6114,148.7569 -88.5537,83.8243 -114.4105,102.5071 -140.0875,96.3682 -77.1604,-16.0586 3.6089,106.6186 85.0968,130.0094 z m 824.7208,-151.9044 c 30.055,-46.7523 9.3942,-41.5907 16.7706,-60.2202 35,-88.3944 -0.924,-51.8184 -54.2798,-54.6536 -16.3215,-0.867 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 42.3055,-33.94 -49.776,73.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z m -661.0823,-464.603 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.4679 -35.0642,-115.211 -73.4678,-155.2843 -30.0551,-30.0551 -56.7706,-68.4587 -63.4495,-85.1559 -15.0275,-46.7523 -33.3945,-36.734 -61.7798,36.7339 -23.3761,60.11 -31.7248,66.7889 -83.4862,66.7889 -53.4312,0 -61.7798,-6.6789 -78.477,-58.4403 -10.0184,-31.7248 -26.7156,-58.4403 -35.0642,-58.4403 -20.0367,0 -131.9082,225.4127 -131.9082,267.1558 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.2278 43.4128,-295.5412 75.1376,-145.2659 84.5677,-155.0384 121.3016,-43.1669 15.0275,43.4128 28.3853,56.7706 60.1101,56.7706 33.3944,0 48.422,-15.0275 73.4678,-73.4679 40.0734,-95.1742 58.4404,-103.5228 83.4862,-43.4128 11.6881,28.3853 46.7523,78.477 76.8073,111.8715 40.0734,45.0826 60.1101,83.4862 66.789,140.2568 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.4007,-26.3754 86.4156,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.2844 -23.3762,-225.4127 -158.6238,-353.9814 -389.0457,-374.0181 -93.5045,-8.3486 -125.2293,-3.3395 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.2018 -198.6971,212.0549 -107.6398,159.538 91.1546,403.2311 127.218,428.408 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z;
         m 674.30431,203.91788 c -15.0275,-25.04586 38.4037,-60.11006 60.1101,-38.40365 8.3486,8.34862 11.688,25.04586 6.6789,35.0642 -15.0276,21.70641 -55.1009,23.37614 -66.789,3.33945 z m 56.7706,-18.36696 c 0,-8.34862 -11.688,-11.68807 -25.0458,-6.6789 -13.3578,6.6789 -25.0459,13.35779 -25.0459,16.69724 0,3.33945 11.6881,6.6789 25.0459,6.6789 13.3578,0 25.0458,-6.6789 25.0458,-16.69724 z m -250.4586,25.04586 c 0,-26.71558 91.8348,-91.83482 130.2385,-91.83482 40.0734,0 41.7431,50.09172 1.6697,83.4862 -48.422,40.07337 -131.9082,45.08254 -131.9082,8.34862 z m 108.5321,-18.36697 c 23.3761,-15.02751 36.7339,-33.39447 31.7247,-41.74309 -10.0183,-16.69724 -98.5137,23.37613 -115.2109,51.76144 -16.6972,26.71558 38.4036,20.03668 83.4862,-10.01835 z m 197.1269,149.88747 c 23.6447,14.36103 39.4507,43.5127 -1.9653,49.68411 -54.1869,-3.02525 -11.5725,-56.29349 1.9653,-49.68411 z m -240.2939,18.11961 c 17.5524,8.259 35.7857,50.53724 -3.7331,45.37518 -50.36,-4.84646 0.387,-48.07751 3.7331,-45.37518 z m 201.7908,142.56157 c 0,-8.34862 8.3486,-16.69724 16.6972,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3486,0 -16.6972,-6.67889 -16.6972,-16.69723 z m -183.6697,0 c 0,-8.34862 8.3486,-16.69724 16.6973,-16.69724 10.0183,0 16.6972,8.34862 16.6972,16.69724 0,10.01834 -6.6789,16.69723 -16.6972,16.69723 -8.3487,0 -16.6973,-6.67889 -16.6973,-16.69723 z m 125.2293,185.33933 c -6.6789,-20.0367 19.5253,-30.0642 -23.8876,-36.7431 -36.7339,-5.0092 -118.0389,-23.3669 -118.0389,-31.7156 0,-10.0183 15.0275,-10.0183 43.4128,0 38.8275,15.3267 71.0503,18.4769 76.1879,11.0139 3.258,-4.7326 -11.6419,-12.8083 -19.4173,-27.7111 -15.0275,-30.055 -13.3578,-33.3945 25.0459,-33.3945 38.4036,0 40.0734,3.3395 25.0458,33.3945 -7.4572,14.0858 -20.5254,22.6362 -18.535,27.4537 2.0206,4.8905 19.263,5.9408 33.5626,5.9408 18.3669,0 38.4036,-6.6789 43.4128,-16.6973 21.7064,-35.0642 35.0642,-15.0275 28.3853,41.7431 -5.0092,48.422 -13.3578,58.4404 -45.0826,58.4404 -23.3761,0 -43.4128,-13.3578 -50.0917,-31.7248 z m 75.1376,-13.3578 c 0,-25.0458 -3.3395,-26.7156 -16.6972,-5.0091 -10.0184,16.6972 -16.6973,18.3669 -16.6973,5.0091 0,-11.688 -6.6789,-21.7064 -16.6972,-21.7064 -8.3486,0 -11.6881,11.6881 -6.6789,25.0459 13.3578,35.0642 56.7706,31.7247 56.7706,-3.3395 z m -58.4403,672.89881 c 35.0642,-13.3578 36.7339,-293.8715 1.6697,-293.8715 -16.6973,0 -21.7064,28.3854 -20.0367,116.8807 0,158.6238 -33.3945,207.0458 -155.2843,213.7247 -105.1926,6.6789 -126.8807,-80.8578 -54.5126,-92.7293 41.9397,-2.505 -9.2547,-268.3966 17.451,-365.72511 10.7419,-39.1486 -4.2341,-110.4552 -32.5189,-114.7518 -36.8405,-11.2093 -108.244,-84.3562 -138.608,-130.1869 C 272.43767,602.90699 270.86925,536.7968 262.47232,503.78488 245.77502,173.17954 478.94661,25.257429 804.54281,102.06472 c 161.9632,36.73393 285.52279,188.6788 303.88969,372.34843 8.3486,93.50454 5.0092,110.20174 -31.7247,165.30264 -33.3945,46.7523 -36.734,63.4495 -20.0367,70.1284 13.3578,5.0092 113.5412,3.3395 223.743,-1.6697 245.4494,-11.6881 258.8072,-21.7064 285.5228,-203.70631 27.3794,-103.06787 -14.9396,-431.92275 137.9345,-242.17416 42.5021,164.05998 23.2391,384.42017 16.662,595.36977 -21.2104,145.79711 92.4674,329.30351 -46.0645,449.94161 -64.7662,60.3589 -38.7927,113.0935 -123.5596,113.5412 -123.2924,-10.1799 -115.7397,-102.6373 -99.8877,-111.1867 104.1824,-58.2351 77.7871,-66.0975 57.3574,-201.3551 -8.146,6.6434 -58.2283,17.7201 -61.4071,26.6956 -20.7464,58.579 -32.0293,133.0528 -74.723,197.3508 -32.5525,23.1585 -25.3086,-19.0304 -73.5842,43.2617 -24.3324,31.3971 -113.9549,18.9569 -125.9341,11.1207 -33.5108,-21.921 -37.6265,-43.3431 -26.063,-86.2023 5.8792,-35.582 43.478,1.7439 76.8724,-48.3478 52.2598,-68.1323 68.512,-102.1323 62.4716,-115.1441 -12.8415,-11.238 -205.7967,-45.4347 -319.46889,-29.2248 -29.6445,14.562 -16.734,17.4909 -26.7523,142.7202 -11.6881,121.8898 -15.0275,131.9082 -61.7798,158.6237 -145.0464,55.9347 -266.0699,-19.9297 -171.9815,-61.7797 z m 170.3118,40.0733 c 26.7156,-16.6972 36.7339,-45.0825 43.4128,-126.899 5.0092,-56.7706 22.0986,-123.5687 18.7592,-155.2935 47.1301,-59.8898 396.26499,55.8434 540.99049,3.3395 52.6107,-19.4522 43.3163,-26.5658 43.3163,41.5516 0,37.4309 47.4143,68.2702 21.0116,125.3617 -7.7527,16.7641 -79.7564,20.8542 -85.149,42.6233 -21.9301,103.4852 151.4772,115.4668 157.3463,35.9219 11.5524,-23.019 139.8827,-144.7861 107.0584,-257.1374 -4.6657,-30.631 -25.4516,-107.94228 -26.1259,-193.09821 7.634,-193.8735 10.6494,-586.53455 0.5113,-581.38248 19.6164,-66.61252 -71.3815,-115.34848 -93.5982,-50.29512 -29.4138,140.06712 -1.5585,383.4906 -94.806,415.0071 -14.5836,4.9291 -120.1221,32.4111 -243.6816,35.7505 -96.1549,11.4286 -213.4471,-5.1015 -264.7474,8.099 -102.18869,26.2949 -137.03689,123.3246 -230.42159,160.5461 -153.6545,55.24343 -277.2201,-60.0915 -266.2251,175.31801 0,81.8165 13.9369,185.0791 -2.7603,230.1616 -80.1098,11.5762 -52.4959,92.8518 31.1456,67.0493 103.5229,-3.3395 138.5871,-58.4403 136.9173,-212.0549 6.0319,-106.351 17.9211,-103.5451 33.3945,-111.8715 33.3945,5.0091 36.7339,15.0275 41.7431,155.2843 3.3395,121.8898 0,153.6146 -21.7064,168.6421 -63.4495,46.7523 81.8165,68.4587 153.6146,23.3761 z m 482.55019,-75.1375 c 30.055,-46.7523 49.3942,-101.5907 56.7706,-120.2202 35,-88.3944 -0.9239,-51.8184 -54.2798,-54.6536 -16.3215,-0.8673 -28.3373,-2.2072 -46.4796,-4.6635 -36.3989,-4.9281 2.3055,26.06 -89.776,133.793 -14.6155,24.8493 -59.0929,14.4887 -65.4005,31.8751 -39.0746,107.7065 116.2747,113.9568 155.4085,33.181 5.9069,-12.1925 36.5212,-9.0031 43.7568,-19.3118 z M 737.80881,788.01159 c 61.7798,-21.7064 209.0894,-84.4174 209.0894,-84.4174 0.6342,-16.3755 6.25,-58.8692 -5.4381,-113.9701 -15.0275,-73.46784 -35.0642,-115.21094 -73.4678,-155.28431 -30.0551,-30.05503 -56.7706,-68.45868 -63.4495,-85.15592 -15.0275,-46.75227 -33.3945,-36.73393 -61.7798,36.73393 -23.3761,60.11006 -31.7248,66.78895 -83.4862,66.78895 -53.4312,0 -61.7798,-6.67889 -78.477,-58.44034 -10.0184,-31.72475 -26.7156,-58.44033 -35.0642,-58.44033 -20.0367,0 -131.9082,225.41272 -131.9082,267.15582 0,60.1101 33.3592,106.3529 68.1805,190.0819 49.0202,22.0569 147.1935,16.9075 255.8009,-5.0522 z m -305.0262,-70.0646 c -48.5117,-97.7622 -33.3129,-153.22776 43.4128,-295.54114 75.1376,-145.26597 84.5677,-155.03846 121.3016,-43.16696 15.0275,43.41282 28.3853,56.77061 60.1101,56.77061 33.3944,0 48.422,-15.02751 73.4678,-73.46785 40.0734,-95.17426 58.4404,-103.52288 83.4862,-43.41282 11.6881,28.38531 46.7523,78.47702 76.8073,111.8715 40.0734,45.08255 60.1101,83.48619 66.789,140.25676 8.6375,63.0542 5.4192,124.5394 5.4192,124.5394 0,0 57.40069,-26.3754 86.41559,-59.4201 48.422,-55.1009 50.0917,-63.4495 40.0734,-155.28434 C 1066.6894,255.67932 931.44181,127.11058 701.01991,107.0739 c -93.5045,-8.34862 -125.2293,-3.33945 -192.0183,28.3853 -101.8531,48.422 -158.6237,110.20178 -198.69707,212.05494 -107.63974,159.53798 91.15457,403.23105 127.21797,428.40795 3.2562,2.2733 32.4849,16.7303 33.9562,14.5883 4.3357,-6.3123 -25.5787,-41.0632 -38.6961,-72.5634 z;"
      />
      </path>
   </svg>
</template>
